html {
    scroll-behavior: smooth;
}

body {
    padding-top: 7vh;
}

#greeting-header {
    /* background: url("imgs/bgs/bg.JPG");
    filter: brightness(0.3);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    background-color: rgb(119, 130, 208);
    height: 53vh;    
}

#greeting-header > video > source {
    height: 100%;
}

.carousel-item {
    height: 50vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
}

.test-header {
    /* height: 1000px; */
    height: 100%;
}

.anchor:before {
    content: "";
    display: block;
    height: 50px;
    margin: -50px 0 0;
}

.embed-responsive-210by297 {
    /* padding-bottom: 141.42%; */
    height: 100vw;
}

@media (max-width: 576px) {
    .embed-responsive-210by297 {
        display: none;
    }
}

.card:hover { 
    transition: 0.2s;
    box-shadow: 0 0 5px rgb(160, 160, 160);
}

.card-img-top {
    height: 20vh;
    width: none;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.carousel-item::after {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1));
}
